

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 40px 0;
    margin: 0 auto;
    min-width: 1128px;


}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    min-height: 200px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery-item:hover .gallery-image {
    transform: scale(1.1);
}